<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>214402367295-3qvlk46k5edp7pbrs68vaqpo1r5bbifl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.214402367295-3qvlk46k5edp7pbrs68vaqpo1r5bbifl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>214402367295-5mpm1ji9jl3jmumbnt26h22taakfs2ns.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAg-pko4Q5H_N9tnJJKfhbCOQT7uH2_iPg</string>
	<key>GCM_SENDER_ID</key>
	<string>214402367295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.iskoolu</string>
	<key>PROJECT_ID</key>
	<string>login-1f96d</string>
	<key>STORAGE_BUCKET</key>
	<string>login-1f96d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:214402367295:ios:dc8a452320d646ff76dd8a</string>
	<key>DATABASE_URL</key>
	<string>https://login-1f96d.firebaseio.com</string>
</dict>
</plist>
